body{
    background-color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    color: blueviolet;
    font-size:18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}